<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/addproduct.css">
    <link rel="stylesheet" href="/contact.css">
    <!-- <link rel="stylesheet" href="/shops.css"> -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/shop/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contact Us!</h1>
        <form class="formmade" action="/contactus" method="post">
            <input type="text" placeholder="enter your name"><button type="submit">Name</button> <pre></pre>
            <input type="text" placeholder="enter your email id"><button type="submit">Email</button><pre></pre>
            <button>Get A Call</button>
        </form>
    </main>
</body>
</html>